.main_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_container {
  min-height: calc(100vh - 8rem);
  width: calc(100% - 8rem);

  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(12, minmax(0, 1fr) );
  grid-template-rows: repeat(7, minmax(0, 1fr) );
  grid-template-areas: 
    "time  time  time  time  search search search search search search ___  ___ "
    "time  time  time  time  book   book   book   some   some   some   some some"
    "music music music music book   book   book   some   some   some   some some"
    "music music music music book   book   book   some   some   some   some some"
    "music music music music book   book   book   some   some   some   some some"
    "music music music music book   book   book   some   some   some   some some"
    "music music music music book   book   book   ----   ----   ----   ---- ----"
  ;

  & > div {
    border-radius: 5px;
  }

}
