@use "abstacs/index" as *;
@import "components/edit.module";


.main_container {
  width: 100%;
  height: 100vh;

  @include flex-center;
}

.content_container {
  --margin: 4rem;

  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(7, minmax(0, 1fr));

  @include media-smol {
    --margin: 6rem;
    gap: 2rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(7, minmax(0, 1fr));
  }

  height: calc(100vh - var(--margin));
  width: calc(100% - var(--margin));

  & > div {
    border-radius: 5px;
  }
}
