.container {
  grid-area: book;
  position: relative;

  overflow-y: hidden;

  border: 2px blue solid;
}

.bookmark_area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 75px;
  gap: 1.0rem;

  padding: 1rem 1.0rem;
  max-height: 100%;
  overflow-y: auto;

  padding-bottom: 8.0rem;
}

.book_mark {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px blue solid;
  border-radius: 5px;
  text-decoration: none;

  & > a {
    width: 100%;
    height: 100%;
  }
}

.book_file,
.book_folder {
  width: 100%;
  height: 100%;
  cursor: pointer;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background: transparent;
  border: none;

  font-size: 1rem;
  font-family: 'Ubuntu', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.bookmark_more {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 100%;
  margin: 0.35rem 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.05rem;

  flex-direction: column;

  opacity: 0;
  transition: all 150ms ease-in;

  & > button {
    display: block;
  }

  &:hover,
  &:focus-within {
    transition: all 150ms ease-out;
    opacity: 1;

    & > button {
      display: block;
    }
  }
}

.bookmark_more_button {
  background: transparent;
  color: gray;
  border: none;
  border-radius: 50%;
  padding: 0.15rem;

  width: 20px;
  height: 20px;

  transition: all 250ms ease-out;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover:not(:disabled) {
    background: #777;
    color: black;
    transition: all 150ms ease-in;
  }
}

.nav {
  width: 100%;
  height: 2.5rem;

  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;

  border-bottom: 1px blue solid;

  & > button {
    width: 2.5rem;
    height: 100%;

    background-color: #242424;
    border: none;
    border-top-left-radius: 5px;

    cursor: pointer;

    &:hover {
      background: blue;
    }
  }
}

.bottom_bar {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 4rem;

  border-top: 1px blue solid;
  background: #242424;

  display: flex;
  align-items: center;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100%;

  & > input {
    width: 100%;
    height: 100%;

    border-style: none;
    background: transparent;
    outline: none;

    font-size: 1.15rem;
    padding: 0 1rem;
  }

  & > input:first-child {
    border-bottom: 1px blue solid;
  }

}

.is_folder_button {
  padding: 0.35rem;
  margin-right: 0.5rem;

  border: 1px blue solid;
  background: transparent;
  cursor: pointer;
}

.is_folder_selected {
  background: blue;
}

.submit_button {
  height: 100%;
  width: 2.5rem;
  font-size: 1rem;

  border-bottom-right-radius: 5px;
  background: transparent;
  border: none;
  border-left: 1px blue solid;

  &:hover {
    background: blue;
  }
}
