.container {
  grid-area: time;

  border: 2px red solid;
  padding: 15px 20px;

  display: flex;
}

.date_time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem;

  flex: 0.5 1 0;
}

.week_component {
  display: flex;
  gap: 7px;

  & > div {
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    font-size: 0.7rem;
    border-radius: 50%;
  }
}

.is_week {
  background: red;
}

.date {
  font-size: 0.85rem;
  opacity: 0.8;

  &:nth-letter(4) {
    color: red;
  }
}

.time {
  font-size: 2.5rem;
  line-height: 1;
}

.binary_clock {
  padding-left: 0.5rem;
  display: flex;
  gap: 1rem;

  & > div {
    display: flex;
    gap: 0.3rem;

    & > div {
      display: flex;
      flex-direction: column;

      & > div {
        border: 1px red solid;
        border-bottom: none;
        width: 1rem;
        height: 7px;
      }

      & > div:last-child {
        border-bottom: 1px red solid;
      }
    }
  }
}

.color_clock {
  background: red;
}

.basic_info {
  flex: 0.5 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.weather_text {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;

  & > p {
    color: red;
  }

  & > div {
    display: flex;
    gap: 0.5rem;
    font-size: 1.15rem;

    span {
      display: flex;
      gap: 0.25rem;

      & > span:last-child {
        font-size: 1.1rem;
        opacity: 60%;
      }
    }

    & > span:last-child {
      color: red;
    }
  }
}

.weather_icon {
  width: 50px;
  height: 50px;
}
