@import "dateTime/weather.module";

.container {
  grid-area: time;

  border: 2px var(--red) solid;
  padding: 15px 35px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Chakra Petch", sans-serif;
}

.date_time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem;

  flex: 0.5 1 0;
}

.week_component {
  display: flex;
  gap: 7px;

  & > div {
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    font-size: 0.7rem;
    border-radius: 50%;
  }
}

.is_week {
  background: var(--red);
  color: var(--bg);
  font-weight: bolder;
}

.date {
  font-size: 0.85rem;
  opacity: 0.8;

  &:nth-letter(4) {
    color: var(--red);
  }
}

.time {
  font-size: 2.5rem;
  line-height: 1;
}

.binary_clock {
  padding-left: 0.5rem;
  display: flex;
  gap: 1rem;

  & > div {
    display: flex;
    gap: 0.3rem;

    & > div {
      display: flex;
      flex-direction: column;

      & > div {
        border: 1px var(--red) solid;
        border-bottom: none;
        width: 1rem;
        height: 7px;
      }

      & > div:last-child {
        border-bottom: 1px var(--red) solid;
      }
    }
  }
}

.color_clock {
  background: var(--red);
}
