.link_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px solid gray;
  width: 100%;
  height: 100%;

  border-radius: 5px;

  color: black;

  &:hover {
    & > p {
      display: block;
    }

    & > img {
      display: none;
    }
  }

  & > p {
    display: none;
  }

  & > img {
    display: block;
  }
}

.link_icon {
  aspect-ratio: 1;
}


