@import "notes/sidebar.module";
@import "notes/notepad.module";

.container {
  --sidebar-w: 3rem;
  --main-color: sienna;

  grid-area: note;
  display: flex;

  overflow-y: hidden;

  border: 2px var(--main-color) solid;
}

.notepad {
  width: 100%;
  height: 100%;
}
