.container {
  grid-area: search;
  border: 2px white solid;
  transition: box-shadow 250ms ease-out;

  &:focus-within {
    box-shadow: 4px 2px 1px white;
    transition: box-shadow 250ms ease-in;
  }

  & > form {
    height: 100%;
    padding: 0.6rem 1rem;

    display: flex;
    gap: 1rem;
    place-items: center;
  }
}

.search_icon {
  width: auto;
  height: 35px;
}

.search_input {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  outline: none;
}
